@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Manrope:wght@600;700&display=swap');

:root {
    --bg: #ffffff;
    --fg: #151515;

    --btn: #7aa751;
    --btn-border: #63a62f;
    --btn-hover: #84b458;
    --btn-textshadow: #4c9021;

    --btn-bad: #af2f2f;
    --btn-bad-border: #8b2929;
    --btn-bad-textshadow: #af2f2f;
    --btn-bad-hover: #c93a3a;

    --navbar: #f7f7f7;
    --navbar-a-active: #000000;
    --navbar-a-hover: #808080;
    --navbar-a-inactive: #aaaaaa;

    --footer: #505050;

    --anchor: #4da9e6;
    --anchor-hover: #5a9dc9;

    --code: #ff4e4e;
}

html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: "Manrope", sans-serif;
}

/* Anchors. */
a {
    text-decoration: none;
    color: var(--anchor);
}

a:hover { color: var(--anchor-hover); }

a.button {
    margin: 12px;
    color: var(--navbar-a-inactive);
}

a.button:hover { color: var(--navbar-a-hover); }
a.button#active { color: var(--navbar-a-active); }

/* Flex*/
.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    width: 100%;
    min-height: 100vh;
}

/* Navigation bar. */
.navbar {
    background: var(--navbar);
    width: 100%;
}

.buttons {
    width: 75%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons section {
    margin: 0 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Content container. */
.container .content {
    flex-grow: 1;
}


/* Upload form. */
#uploadform button {
    width: 100%;

    padding: 6px;
    margin: 6px 0;
}

#uploadform button:enabled {
    background: var(--btn);
    color: var(--bg);
    border: var(--btn-border) solid 1px;
    border-radius: 4px;
    text-shadow: 0 2px var(--btn-textshadow);
}

#uploadform button:enabled:hover {
    background: var(--btn-hover);
    cursor: pointer;
}


/* Link. */
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 256px;
}

.link p#link {
    background: var(--navbar);
    color: var(--btn);

    padding: 6px;

    flex-grow: 1;
    
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

.link button {
    padding: 6px;
    margin-left: 6px;
}