<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="${title}" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <body>
        <div class="container flex-center-column">
            <div class="navbar flex-center-row">
                <div class="buttons">
                    <section class="brand">
                        <h1 th:text="${title}" />
                    </section>
                    <section class="links">
                        <a href="/" class="button" id="active">File upload</a>
                    </section>
                </div>
            </div>
            <div class="content flex-center-column">
                <section class="uploadform">
                    <form action="/upload" method="post" enctype="multipart/form-data" id="uploadform">
                        <input type="file" accept="*" name="file" id="file" /><br>
                        <button type="submit" id="uploadbtn" disabled="true">Upload</button>
                    </form>
                    <div class="link" id="linkblock" style="display: none;">
                        <p id="link" onclick="window.getSelection().selectAllChildren(this);"></p>
                        <button onclick="copy('link');">Copy</button>
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script>
        let file = document.getElementById("file");

        let uploadbtn = document.getElementById("uploadbtn");
        let link_block = document.getElementById("linkblock");
        let link = document.getElementById("link");

        file.addEventListener("change", () => {
            uploadbtn.disabled = false;
        });

        $("#uploadform").ajaxForm({
            dataType: "json",
            success: (response) => {
                link_block.style.display = "flex";
                link.innerHTML = response[0].get;
            },
            error: (res) => {
                alert(`The server returned an error with status code ${res.status} (${res.statusText.toUpperCase()})!`);
            }
        });
    </script>
    <script>
        function copy(id) {
            navigator.clipboard.writeText(document.getElementById(id).innerHTML).then(() => {
                alert("Copied to clipboard!");
            }, (err) => {
                alert("Something went wrong while copying to clipboard! " + err);
            });
        }
    </script>
</html>